<div>
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="~/Home/Index">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-seedling"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Birim Bilgi Sistemi</div>
    </a>

    <!-- Divider -->
    
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="~/Home/Index">
            <i class="fas fa-braille"></i>
            <span>Anasayfa</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Sık Kullanılanlar
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-alt"></i>
            <span>Personel</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Personel Bilgileri:</h6>
                <a class="collapse-item" href="buttons.html">Personeller</a>
                <div class="collapse-divider"></div>
                <h6 class="collapse-header">Personel :</h6>
                <a class="collapse-item" href="~/Personel/Create">Personel Ekle</a>
                <a class="collapse-item" href="blank.html">Eğitim Bilgileri Ekle</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-calendar-alt"></i>
            <span>Takvim</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Takvim:</h6>
                <a class="collapse-item" href="utilities-color.html">Ortak Takvim</a>
                <a class="collapse-item" href="utilities-border.html">Kişisel Takvim</a>
                <a class="collapse-item" href="utilities-animation.html">Etkinlik Ekle</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider my-1">

    <!-- Heading -->
    <div class="sidebar-heading">
        Addons
    </div>

  
    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Dosya Paylaşım</span>
        </a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="tables.html">
            <i class="fas fa-fw fa-table"></i>
            <span>Öneri/ Talep</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-calendar-alt"></i>
            <span>Birimler</span>
        </a>
        <div id="collapseFour" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Birimler</h6>
                <a class="collapse-item" href="~/Baskanlik/Index">Başkanlıklar</a>
                <a class="collapse-item" href="~/Mudurluk/Index">Müdürlükler</a>
                <a class="collapse-item" href="~/Seflik/Index">Şeflikler</a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</div>